{% extends 'webApp/nav.html' %}
{% load staticfiles %}


{% block nav5 %}
class="active"
{% endblock %}

{% block main1 %}


<div>
  <div class="row" style="margin-top:2.5em">
    <div class = "col s0 m1"></div>
      <div class = "col s12 m10">
        <div class="card blue-white darken-1">
          <div class="card-content blue-text">
            
            <div class="row">
              <div class="card-title col m3 s0 center">
              </div>
            	
              <span class="card-title col m6 s12 center">
        				<nav>
        				 	<div class="nav-wrapper">
        						<ul class="center">
        				    		<li class="active col s12 m12 center">
        				    			<a href="#" style="font-size:1.1em">Running Courses</a>
        				    		</li>
        					  	</ul
        				  	</div>
        				</nav>
      		  	</span>
            </div>             
            {% if courses %}
              <table class="highlight centered responsive-table" style="color:darkblue;">
                <thead>
                  <tr style="color:green;">
                      <th data-field="code"><p class="flow-text">Course Code</p></th>
                      <th data-field="name"><p class="flow-text">Course Name</p></th>
                      <th data-field="time"><p class="flow-text">Time Period</p></th>
                  </tr>
                </thead>
                <tbody>
                {% for course in courses %}
                  <tr>
                    <td>{{course.code}}</td>
                    <td>{{course.name}}</td>
                    <td>{{course.period}} {{course.year}}</td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            {% else %}
                <p style="text-align:center;font-size:2em;color:darkblue;">No Running Couses</p>
            {% endif %}
			    </div>
	  	  </div>
	    </div>
    </div>
  </div>
</div>
{% endblock %}
{% block script %}
	<script language="JavaScript" src="{% static 'myjs/form1.js' %}"></script>

  <script> $(document).ready(function() { $('select').material_select(); });</script>


{% endblock %}
