{% extends 'webApp/nav.html' %}
{% load staticfiles %}

{% block main1 %}
  <div>
    <div class="row" style="margin-top:2.5em">

      <div class = "col s0 m2">
      </div>

      <div class = "col s12 m8">
        <div class="card blue-white darken-1">
          <div class="card-content blue-text">
            <div class="row">
              <div class="card-title col m3 s0 center">
              </div>
            	<span class="card-title col m6 s12 center">
        				<nav style="margin-bottom: 30px;">
        				 	<div class="nav-wrapper" >
        						<ul class="center">
        				    		<li class="active col s12 m12 center">
        				    			<a href="#" style="font-size:1.1em">Add A Course</a>
        				    		</li>
        					  	</ul
        				  	</div>
        				</nav>
      		  	</span>
            </div>

            <div>
              <form class="form-horizontal" name="CourseForm" action="{% url 'webApp:coursesnew' %}" method="post"  autocomplete="off" onsubmit="return valid_date_all() ;">{% csrf_token %}

                <div class="form-group row">
                  <div class="input-field col s3 m3">
                    <input placeholder="eg. CS251" name="code" id="course_code" type="text" class="validate" required>
                    <label for="course_code">Course Code</label>
                  </div>
                  <div class="input-field col s9 m9">
                    <input placeholder="eg. Software Systems Lab" name="name" id="course_name" type="text" class="validate" required>
                    <label for="last_name">Course Name</label>
                  </div>
                </div>

                <div class="form-group row">

                  <div class="input-field col s3 m2">
                    <input name="group1"  value='Autumn' type="radio" id="autumn" checked="checked" />
                    <label for="autumn">Autumn</label>
                  </div>
                  <div class="input-field col s3 m2">
                    <input name="group1" value='Spring' type="radio" id="spring" />
                    <label for="spring">Spring</label>
                  </div>
                  <div class="input-field col s3 m2">
                    <input name="group1" value='Summer' type="radio" id="summer" />
                    <label for="summer">Summer</label>
                  </div>

                  <div class="col s0 m4">  </div>
                    <div class="input-field col s3 m1">
                      <select  name="year">
                        <option value="2016">2016</option>
                        <option value="2017">2017</option>
                      </select>
                    </div>
                </div>

                <div class = "form-group row">
                  <div class="input-field col s6 m4">
                    <select name="professor" required>
                      {% if professors %}
                      <option value ="" disabled selected >Choose a Professor </option>
                        {% for prof in professors %}
                           <option value = "{{prof.user.username}}">{{prof.user.first_name}} {{prof.user.last_name}}</option>
                        {% endfor %}
                      {% else %}
                        <option value ="" disabled selected>First Hire Some Profs </option>
                      {% endif %}
                    </select>
                  </div>

                  <div class="input-field col s6 m7">
                    <select multiple name="student" required>
                      {% if students %}
                      <option value ="" disabled selected>Choose Whom You Want to Train </option>
                        {% for stud in students %}
                           <option value = "{{stud.user.username}}">{{stud.rollno}}: {{stud.user.first_name}} {{stud.user.last_name}}</option>
                        {% endfor %}
                      {% else %}
                        <option value ="" disabled selected>
                          First Get Some Students
                        </option>
                      {% endif %}
                    </select>
                  </div>
                </div>
                <div>
                  <p style="text-align:center;margin-bottom:10px;color:red;">
                    {{errors}}
                  </p>
                </div>



                <div class="form-group row " style="margin-bottom:0px; margin-top:0px">
                  <div class="input-field col s12 m5">
                    <input name="description1" id="description1" type="text"  value="Midsemester Feedback" required readonly>
                    <label for="description1">Feedback</label>
                  </div>

                  <div class="input-field col s8 m4">
                    <input name="date1" id="date1" type="text" class="datepicker" required>
                    <label for="date1">Last Date for Submission</label>
                  </div>
                  <div class="input-field col s4 m2">
                    <input  name="time1" style="text-align:center" id="time" type="time" class="timepicker" required value="23:59">
                  </div>
                </div>


                <div class="form-group row " style="margin-bottom:0px; margin-top:0px">
                  <div class="input-field col s12 m5">
                    <input name="description2" id="description2" type="text"  value="Endsemester Feedback" required readonly>
                    <label for="description2">Feedback</label>
                  </div>
                  <div class="input-field col s8 m4">
                    <input name="date2" id="date2" type="text" class="datepicker" required>
                    <label for="date2">Last Date for Submission</label>
                  </div>
                  <div class="input-field col s4 m2 ">
                    <input  name="time2" style="text-align:center" id="time" type="time" class="timepicker" required value="23:59">
                  </div>
                </div>



              <div class="form-group row " style="margin-bottom:0px; margin-top:0px">
                <div class="input-field col s12 m5">
                  <input name="description3" id="description3" type="text"  value="Midsemester Examination" required readonly>
                  <label for="description">Deadline</label>
                </div>

                <div class="input-field col s8 m4">
                  <input name="date3" id="date3" type="text" class="datepicker" required>
                  <label for="date3">Date Of Exam</label>
                </div>
                <div class="input-field col s4 m2">
                  <input  name="time3" style="text-align:center" id="time" type="time" class="timepicker" required value="09:30">
                </div>
              </div>


              <div class="form-group row " style="margin-bottom:0px; margin-top:0px">
                <div class="input-field col s12 m5">
                  <input name="description4" id="description4" type="text"  value="Endsemester Examination" required readonly>
                  <label for="description">Deadline</label>
                </div>
                <div class="input-field col s8 m4">
                  <input name="date4" id="date4" type="text" class="datepicker" required>
                  <label for="date4">Date Of Exam</label>
                </div>
                <div class="input-field col s4 m2 ">
                  <input  name="time4" style="text-align:center" id="time" type="time" class="timepicker" required value="09:30">
                </div>
              </div>

              <div class="form-group center" >
                  <button class="btn waves-effect waves-light" type="submit" name="action">Save<i class="material-icons right">send</i>
                  </button>
              </div>

      				</form>
  		      </div>
    	    </div>
  	    </div>
      </div>

    </div>
  </div>
{% endblock %}

{% block script %}
	<script language="JavaScript" src="{% static 'myjs/form1.js' %}"></script>
  <script> $(document).ready(function() { $('select').material_select(); });</script>
  <script language="JavaScript" src="{% static 'myjs/datepick_validate.js' %}"></script>
  <script language="JavaScript" src="{% static 'myjs/choice_add.js' %}"></script>

{% endblock %}
