{% extends 'webApp/nav.html' %}
{% load staticfiles %}


{% block main1 %}
  <div>
    <div class="row" style="margin-top:2.5em">
      <div class = "col s0 m1"></div>
        <div class = "col s12 m10">
          <div class="card blue-white darken-1">
            <div class="card-content blue-text">
              
              <div class="row">
                <div class="card-title col m3 s0 center">
                </div>
              	
                <span class="card-title col m6 s12 center">
          				<nav>
          				 	<div class="nav-wrapper">
          						<ul class="center">
          				    		<li class="active col s12 m12 center">
          				    			<a href="#" style="font-size:1.1em">Existing Feedbacks</a>
          				    		</li>
          					  	</ul
          				  	</div>
          				</nav>
        		  	</span>
              </div>
              {% if forms %}
                <table class="highlight centered responsive-table" style="color:darkblue;">      
                  <thead>
                    <tr style="color:green;">
                        <th data-field="code"><p class="flow-text">Course Code</p></th>
                        <th data-field="description"><p class="flow-text">Form Description</p></th>
                        <th data-field="date"><p class="flow-text">Submission Deadline</p></th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for f in forms %}
                    <tr>
                      <td>{{f.deadline.course.code}}</td>
                      <td>{{f.deadline.description}}</td>
                      <td>{{f.deadline.date}}&nbsp - &nbsp{{f.deadline.time}}</td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              {% else %}
                <p style="text-align:center;font-size:2em;color:darkblue;">No FeedBacks To Be Filled</p>
              {% endif %}
  			    </div>
  	  	  </div>
  	    </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block script %}
	<script>
    $(document).ready(function() { $('select').material_select(); });
    $(document).ready(function(){
      $('.collapsible').collapsible();
    });
  </script>
{% endblock %}
