{% extends 'webApp/bkbase.html' %}
{% load staticfiles %}
{% block main %}

<div class="row">
	<div class = "col m4 s1 center">
	</div>
	<div class = "col m4 s10">
	  <div class="row" style=" margin-top:7em">
	    <div>
	      <div class="card blue-grey darken-1">
	        <div class="card-content white-text">

	          	<span class="card-title">
					<nav style="margin-bottom: 1em;">
					 	<div class="nav-wrapper" >
							<ul class="center">
					    		<li class="active col s12 m12 center" style="padding-left:0px;padding-right:0px;">
					    			<a href="#" style="font-size:1em">Login</a>
					    		</li>
						  	</ul
					  	</div>
					</nav>
			  	</span>

		  		<div>
		  			<form class="form-horizontal" name="myForm" action="{% url 'webApp:login' %}" method="post"  autocomplete="off" onsubmit="return validate_all();">{% csrf_token %}
		  				
		  				<div class="form-group">
			  		    	<div class="col-sm-8 center">
			  		      	<input name="name" id="Text" type="text" class="form-control"  placeholder="Username"onblur="validate_text();"
				      			onfocus="this.style.borderColor='yellow'; document.querySelector('#ErrText').innerHTML='';">
			  		      	<p style="text-align:center;" id= "ErrText"></p>
			  		    	</div>
			  		  	</div>

		  		  		<div class="form-group">
		  		    		<div class="col-sm-10">
			      				<input name="pass" id="Pass" type="password" class="form-control"placeholder="Password"onblur="validate_password();"
				      			onfocus="this.style.borderColor='yellow'; document.querySelector('#ErrPass').innerHTML='';">
				      			<p style="text-align:center;" id= "ErrPass"></p>
		  		    		</div>
		  		  		</div>

						<div id="status"style="text-align:center;margin-bottom:20px">
							{% block error %}
			  			    	<b>{{error}}</b>
			  			    {% endblock %}
			  		   	</div>

						<div class="form-group center" >
							<button class="btn waves-effect waves-light" type="submit" name="action">Submit<i class="material-icons right">send</i>
							</button>
				  	    </div>

	  				</form>
				</div>
		  	</div>
		  </div>
	    </div>
	  </div>
	</div>
</div>

{% endblock %}
{% block script %}
	<script language="JavaScript" src="{% static 'myjs/form1.js' %}"></script>
{% endblock %}
