{% extends 'webApp/bkbase.html' %}
{% block main %}
    <nav class="green">
        <div class="nav-wrapper ">
            <ul id="nav-mobile" class="left">
                <li {% block nav1 %}{% endblock %}><a href={% block homeURL %}"{% url 'webApp:ins_home' %}"{% endblock %}>Home</a></li>
            </ul>
            <a class="brand-logo center"><tab> Feed'er</tab></a>
            <ul id="nav-mobile" class="right">
                <li {% block nav5 %}{% endblock %}><a href={% block settingsURL %}"{% url 'webApp:ins_settings' %}"{% endblock %}>Change Password</a></li>
                <li ><a href="{% url 'webApp:ins_logout' %}"><i class="material-icons" style="font-size: 22px">power_settings_new</i></a></li>
            </ul>
        </div>
    </nav>
{% block main1 %}
{% endblock %}
{% endblock %}
