{% extends 'webApp/bkbase.html' %}
{% block main %}
    <nav class="green">
        <div class="nav-wrapper ">
            <ul id="nav-mobile" class="left">
                <li {% block nav1 %}{% endblock %}><a href={% block homeURL %}"{% url 'webApp:home' %}"{% endblock %}>Home</a></li>
                <li {% block nav2 %}{% endblock %}><a href={% block syncURL %}"{% url 'webApp:studentInitialise' %}"{% endblock %}>Sync Students</a></li>
                <!-- <li {% block nav3 %}{% endblock %}><a href="collapsible.html">JavaScript</a></li> -->
            </ul>
            <a class="brand-logo center"><tab> Feed'er - Admin</tab></a>
            <ul id="nav-mobile" class="right">
                <!-- <li {% block nav4 %}{% endblock %}><a href="sass.html">Sass</a></li> -->
                <li {% block nav5 %}{% endblock %}><a href={% block settingsURL %}"{% url 'webApp:settings' %}"{% endblock %}>Change Password</a></li>
                <li ><a href="{% url 'webApp:logout' %}"><i class="material-icons" style="font-size: 22px">power_settings_new</i></a></li>
            </ul>
        </div>
    </nav>
{% block main1 %}
{% endblock %}
{% endblock %}
