{% extends 'webApp/nav.html' %}
{% block homeURL %}
"#"
{% endblock %}


{% block nav1 %}
class="active"
{% endblock %}

{% block main1 %}
<div style="padding-left:2em;color:green">
    <h5 style="text-transform: capitalize;">Welcome {{user.username}}</h5>
</div>
<div class="row" style="margin-top:2.5em">
    <div class = "col s2 m1">
    </div>
    <div class = "col s8 m4">
        <ul class="collection">
            <li class="collection-item">
                <a href="{% url 'webApp:courses' %}" class="secondary-content" style="float:left"><i class="material-icons"  style="color:blue;">assignment</i></a>
                &emsp;Existing Courses
                <a href="{% url 'webApp:courses' %}" class="secondary-content"><i class="material-icons" >play_arrow</i></a>
            </li>
                <li class="collection-item">
                <a href="{% url 'webApp:deadlines' %}" class="secondary-content" style="float:left"><i class="material-icons" style="color:red;">today</i></a>
                &emsp;Existing Deadlines
                <a href="{% url 'webApp:deadlines' %}" class="secondary-content"><i class="material-icons">play_arrow</i></a>
            </li>
            <li class="collection-item">
                <a href="{% url 'webApp:feedback' %}" class="secondary-content" style="float:left"><i class="material-icons" style="color:green;">assessment</i></a>
                &emsp;Existing Feedback
                <a href="{% url 'webApp:feedback' %}" class="secondary-content"><i class="material-icons">play_arrow</i></a>
            </li>
            <li class="collection-item">
                <a href="{% url 'webApp:coursesnew' %}" class="secondary-content" style="float:left"><i class="material-icons"  style="color:blue;">assignment</i></a>
                &emsp;Add Courses
                <a href="{% url 'webApp:coursesnew' %}" class="secondary-content"><i class="material-icons">play_arrow</i></a>
            </li>
            <!-- <li class="collection-item">
                <a href="{% url 'webApp:deadlinesnew' %}" class="secondary-content" style="float:left"><i class="material-icons" style="color:red;">today</i></a>
                &emsp;Add Deadlines
                <a href="{% url 'webApp:deadlinesnew' %}" class="secondary-content"><i class="material-icons">play_arrow</i></a>
            </li>
            <li class="collection-item">
                <a href="{% url 'webApp:feedbacknew' %}" class="secondary-content" style="float:left"><i class="material-icons" style="color:green;">assessment</i></a>
                &emsp;Add Feedback
                <a href="{% url 'webApp:feedbacknew' %}" class="secondary-content"><i class="material-icons">play_arrow</i></a>
            </li> -->
        </ul>
    </div>
</div>

{% endblock %}
