{% extends 'webApp/bkbase.html' %}
{% load staticfiles %}
{% block main %}

	<script>
	 	function FBlogin(response) {
		  	FB.login(function(response){
			  	if (response.status === 'connected') {
			    	// Logged into your app and Facebook.
			    	console.log(response);
			    	testAPI();
			  	} else if (response.status === 'not_authorized') {
			    	// The person is logged into Facebook, but not your app.
			    	document.getElementById('status').innerHTML = 'Please log into this app.';
			  	} else {
			    	// The person is not logged into Facebook, so we're not sure if
			    	// they are logged into this app or not.
			    	document.getElementById('status').innerHTML = 'Please log into Facebook.';
			  	}
			}, {scope:'public_profile,email'});
		}
	 	function checkLoginState() {
		    FB.getLoginStatus(function(response) {
	    		FBlogin(response);
	    	});
  		}
		window.fbAsyncInit = function() {
		  	FB.init({
			    appId      : '1797499347130875',
			    cookie     : true,  // enable cookies to allow the server to access	 the session
			    xfbml      : true,  // parse social plugins on this page
			   	oauth      : true,
			    version    : 'v2.8' // use graph api version 2.5
		  	});
		};

  		// Load the SDK asynchronously
		(function(d, s, id) {
		    var js, fjs = d.getElementsByTagName(s)[0];
		    if (d.getElementById(id)) return;
		    js = d.createElement(s); js.id = id;
		    js.src = "//connect.facebook.net/en_US/sdk.js";
		    fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));

		function post(path, params) {
		    var form = document.createElement("form");
		    form.setAttribute("method", 'post');
		    form.setAttribute("action", path);

		    for(var key in params) {
		        if(params.hasOwnProperty(key)) {
		            var hiddenField = document.createElement("input");
		            hiddenField.setAttribute("type", "hidden");
		            hiddenField.setAttribute("name", key);
		            hiddenField.setAttribute("value", params[key]);
		            form.appendChild(hiddenField);
		         }
		    }
		    document.body.appendChild(form);
		    form.submit();
		}

	  	function testAPI() {
		    console.log('Welcome!  Fetching your information.... ');
		    FB.api('/me?locale=en_US&fields=name,email', function(response) {
		      	console.log('Successful login for: ' + response.name);
		      	document.getElementById('status').innerHTML =
		      		'Thanks for logging in,' + response.name + '!';
		        console.log(response);
		        /*post('/webApp/signup/',
		        	{
		        		'name': reponse.name
		        		'email': reponse.email
		    		});
		    	*/
		    });
		}
	</script>

<div class="row">
	<div class = "col m4 s1 center">
	</div>
	<div class = "col m4 s10">
	  <div class="row" style=" margin-top:7em">
	    <div>
	      <div class="card blue-grey darken-1">
	        <div class="card-content white-text">

	          	<span class="card-title">
					<nav style="margin-bottom: 1em;">
					 	<div class="nav-wrapper" >
							<ul class="center">
					    		<li class="active col s12 m12 center" style="padding-left:0px;padding-right:0px;">
					    			<a href="#" style="font-size:1em">Login</a>
					    		</li>
						  	</ul
					  	</div>
					</nav>
			  	</span>

		  		<div>
		  			<form class="form-horizontal" name="myForm" action="{% url 'webApp:login' %}" method="post"  autocomplete="off" onsubmit="return validate_all();">{% csrf_token %}
		  				
		  				<div class="form-group">
			  		    	<div class="col-sm-8 center">
			  		      	<input name="name" id="Text" type="text" class="form-control"  placeholder="Username"onblur="validate_text();"
				      			onfocus="this.style.borderColor='yellow'; document.querySelector('#ErrText').innerHTML='';">
			  		      	<p style="text-align:center;" id= "ErrText"></p>
			  		    	</div>
			  		  	</div>

		  		  		<div class="form-group">
		  		    		<div class="col-sm-10">
			      				<input name="pass" id="Pass" type="password" class="form-control"placeholder="Password"onblur="validate_password();"
				      			onfocus="this.style.borderColor='yellow'; document.querySelector('#ErrPass').innerHTML='';">
				      			<p style="text-align:center;" id= "ErrPass"></p>
		  		    		</div>
		  		  		</div>

						<div id="status"style="text-align:center;margin-bottom:20px">
							{% block error %}
			  			    	<b>{{error}}</b>
			  			    {% endblock %}
			  		   	</div>

						<div class="form-group center" >
							<button class="btn waves-effect waves-light" type="submit" name="action">Submit<i class="material-icons right">send</i>
							</button>
				  	    </div>

	  				</form>
				</div>
		  	</div>
		  </div>
	    </div>
	  </div>
	</div>
</div>

{% endblock %}
{% block script %}
	<script language="JavaScript" src="{% static 'myjs/form1.js' %}"></script>
{% endblock %}
