{% extends 'webApp/base.html' %}

{% block main %}
		<div class="jumbotron">
	 		<div>
	 			<nav class="navbar navbar-default">
				  	<div class="container-fluid" style="padding-right:0px;padding-left:0px;
				  		background-color: #13232e;">
					    <ul style="width:100%" class="nav navbar-nav">
					      <li style="width:50%"><a href="{% url 'webApp:login' %}">Login</a></li>
					      <li style="width:50%" class="active"><a href="#">Sign Up</a></li>
					    </ul>
				 	</div>
				</nav>
				<div style="margin-bottom:20px; font-size:30px; text-align:center;">
					Sign Up, Its Free!!!!
				</div>

				<form class="form-horizontal" name="myForm" action="{% url 'webApp:signup' %}" method="post"  autocomplete="off" onsubmit="return validate_all();">{% csrf_token %}

					<div class="form-group">
			    		<div class="col-sm-10">
			      			<input name="name" id="Text" type="text" class="form-control"  placeholder="Username"
			      			 onkeyup="validate_text();"onkeydown="validate_text();"onblur="validate_text();this.style.borderColor='gray';"
			      			 onfocus="document.querySelector('#ErrText').innerHTML ='';this.style.borderColor='blue';">
			      			<p style="text-align:center; margin-left:15%;" id= "ErrText"></p>
			    		</div>
			  		</div>


					<div class="form-group">
			    		<div class="col-sm-10">
			      			<input type="email" id="Email" class="form-control" name="email" placeholder="Email id"
			      			 onkeyup="validate_email();" onkeydown="validate_email();" onblur="validate_email();this.style.borderColor='gray';"
			      			 onfocus="document.querySelector('#ErrEmail').innerHTML ='';this.style.borderColor='blue';">
			      			<p style="text-align:center; margin-left:15%;" id= "ErrEmail"></p>
			    		</div>
			  		</div>


			  		<div class="form-group">
			    		<div class="col-sm-10">
		      				<input name="pass" id="Pass" type="password" class="form-control"  placeholder="Password" onkeyup="validate_password();" onkeydown="validate_password();" onblur="validate_password();this.style.borderColor='gray';"
		      			 	onfocus="document.querySelector('#ErrPass').innerHTML ='';this.style.borderColor='blue';">
			      			<p style="text-align:center; margin-left:15%;" id= "ErrPass"></p>
			    		</div>
			  		</div>

			  		<div class="form-group">
			    		<div class="col-sm-offset-1 col-sm-12">
			      			<button type="submit" class="btn btn-default">
			      				<b>Register</b>
			      			</button>
			    		</div>
			    	</div>
			  	</form>
			  <div>
		</div>
{% endblock %}
