{% extends 'webApp/nav.html' %}
{% load staticfiles %}


{% block nav2 %}
class="active"
{% endblock %}


{% block main1 %}

<div>
  <div class="row" style="margin-top:2.5em">
    <div class = "col s0 m4"></div>
      <div class = "col s10 m4">
        <div class="card blue-white darken-1">
          <div class="card-content blue-text">
            <div class="row">
              <div class="card-title col m2 s0 center">
              </div>
            	<span class="card-title col m8 s12 center">
  				<nav style="margin-bottom: 30px;">
  				 	<div class="nav-wrapper" >
  						<ul class="center">
  				    		<li class="active col s12 m12 center">
  				    			<a href="#" style="font-size:1em">Add Students</a>
  				    		</li>
  					  	</ul
  				  	</div>
  				</nav>
      		  	</span>
            </div>
  	  		  <div>

              <form class="form-horizontal " enctype="multipart/form-data" name="StudentForm" action="{% url 'webApp:studentInitialise' %}" method="post"  autocomplete="off" onsubmit="return validate_check();">{% csrf_token %}

                <div class="file-field input-field">
                  <div class="btn">
                    <span>File</span>
                    <input name="students" type="file" accept=".csv,text/csv">
                  </div>
                  <div class="file-path-wrapper">
                    <input class="file-path validate" type="text">
                  </div>
                </div>

                  <div class="form-group center" >
                      <button class="btn waves-effect waves-light" type="submit" name="action">Save<i class="material-icons right">send</i>
                      </button>
                  </div>

      				</form>
			</div>
	  	</div>
	  </div>
    </div>
  </div>
</div>
{% endblock %}
{% block script %}
	<script language="JavaScript" src="{% static 'myjs/form1.js' %}"></script>

  <script> $(document).ready(function() { $('select').material_select(); });</script>


{% endblock %}
