{% extends 'webApp/nav.html' %}
{% load staticfiles %}

{% block settingsURL %}
"#"
{% endblock %}

{% block main1 %}
  <div>
    <div class="row" style="margin-top:2.5em">
      <div class = "col s0 m1"></div>
        <div class = "col s12 m10">
          <div class="card blue-white darken-1">
            <div class="card-content blue-text">
              
              <div class="row">
                <div class="card-title col m3 s0 center">
                </div>
              	
                <span class="card-title col m6 s12 center">
          				<nav>
          				 	<div class="nav-wrapper">
          						<ul class="center">
          				    		<li class="active col s12 m12 center">
          				    			<a href="#" style="font-size:1.5em">Existing Feedbacks</a>
          				    		</li>
          					  	</ul
          				  	</div>
          				</nav>
        		  	</span>
              </div>

              
                <ul class="collapsible" data-collapsible="accordion">
                  {% for i in leng %}
                  {% for feed, questions in forms.i %}
                  <li>
                    
                    <div class="collapsible-header">
                      <i class="material-icons">filter_drama</i>
                      <p style="text-align:center;">{{feed.deadline.course.code}}
                           -  {{feed.deadline.description}}
                      </p>
                    </div>
                    
                    <div class="collapsible-body">
                      <ol>

                      {% for q in questions %}
                        <li>{{q.description}}</li>
                      {% endfor %}
                      </ol>
                    </div>
                  
                  </li> 
                  {% endfor %}  
                  {% endfor %}
                </ul>  
              
  			    </div>
  	  	  </div>
  	    </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block script %}
	<script>
    $(document).ready(function() { $('select').material_select(); });
    $(document).ready(function(){
      $('.collapsible').collapsible();
    });
  </script>
{% endblock %}
