{% extends 'webApp/ins_nav.html' %}
{% load staticfiles %}

{% block main1 %}
  <div>
    <div class="row" style="margin-top:2.5em">
      <div class = "col s0 m2"></div>
      <div class = "col s12 m8">
        <div class="card blue-white darken-1">
          <div class="card-content blue-text">
 
            <div class="row">
              <div class="card-title col m3 s0 center">
              </div>
            	<span class="card-title col m6 s12 center">
        				<nav>
        				 	<div class="nav-wrapper" >
        						<ul class="center">
        				    		<li class="active col s12 m12 center">
        				    			<a href="#" style="font-size:1.1em">Add Deadlines</a>
        				    		</li>
        					  	</ul
        				  	</div>
        				</nav>
      		  	</span>
            </div>

            <div>
              <form class="form-horizontal" name="DeadlineForm" action="{% url 'webApp:ins_deadlinesnew' %}" method="post"  autocomplete="off" onsubmit="return valid_check();">{% csrf_token %}

                <div class = "form-group row">
                  <div class="input-field col s6 m3">
                    <select name='course' required>
                      {% if courses %}
                        <option value ="" disabled selected>Choose a Course </option>
                        {% for c in courses %}
                          <option value ="{{c.code}}">{{c.code}}</option>
                        {% endfor %}
                      {% else %}
                        <option value ="" disabled selected>No Courses Added</option>
                      {% endif %}
                    </select>
                  </div>
                </div>

                <div class="form-group row">
                  <div class="input-field col s12 m12">
                    <input name="description" id="description" type="text" class="validate"required>
                    <label for="description">Brief Description</label>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="input-field col s8 m4">
                    <input name="date" id="date" type="text" class="datepicker" required>
                    <label for="date">Submission Date and Time</label>
                  </div>
                  <div class="input-field col s4 m2">

                    <input  name="time" id="time" type="time" class="timepicker"
                    required>

                  </div>
                </div>

                <div class="form-group center" >
                  <button class="btn waves-effect waves-light" type="submit" name="action">Save<i class="material-icons right">send</i>
                  </button>
                </div>
              </form>
            </div>

          </div>
			  </div>
	  	</div>
    </div>
  </div>
{% endblock %}

{% block script %}
  <script language="JavaScript" src="{% static 'myjs/datepick_validate.js' %}"></script> 
  <script> $(document).ready(function() { $('select').material_select(); });</script>
{% endblock %}
