{% extends 'webApp/ins_nav.html' %}
{% load staticfiles %}
{% block main1 %}
  <div>
    <div class="row" style="margin-top:2.5em">
      <div class = "col s0 m1"></div>
      <div class = "col s12 m10">
        <div class="card blue-white darken-1">
          <div class="card-content blue-text">

            <div class="row">
              <div class="card-title col m3 s0 center">
              </div>

              <span class="card-title col m6 s12 center">
        				<nav>
        				 	<div class="nav-wrapper">
        						<ul class="center">
        				    		<li class="active col s12 m12 center">
        				    			<a class="flow-text tooltipped" data-position="top" data-delay="50" data-tooltip="{{total_responses}}/{{total_students}}"
                          style="font-size:1.1em">{{form.deadline.course.code}} - {{form.deadline.description}}</a>
        				    		</li>
        					  	</ul
        				  	</div>
        				</nav>
      		  	</span>
            </div>

            <div class="row">
            <div class = "col s12 m12">
              {% if questions %}
                <table class="highlight bordered" style="color:darkblue">
                    {% for q in questions %}
                    <tr> 
                      <th><a href="{% url 'webApp:ques_stats' ques_id=q.id%}"
                      class="flow-text tooltipped" data-position="top" data-delay="50" data-tooltip="{{q.description}}">
                      Q{{forloop.counter}}</a></th>
                      {% for c in q.response_set.all %}
                         <td >{{c.response}}</td>
                      {% endfor %}
                    </tr>
                    {% endfor %}
                 <tbody>
                </table>
              {% else %}
                <p style="text-align:center;font-size:2em;color:darkblue;">No Responses yet</p>
              {% endif %}
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block script %}
  <script>
    $(document).ready(function(){
    $('.tooltipped').tooltip({delay: 50});
    });
  </script>
{% endblock %}
