{% extends 'webApp/ins_nav.html' %}
{% load staticfiles %}

{% block main1 %}
  <div>
    <div class="row" style="margin-top:2.5em">
      <div class = "col s0 m2"></div>
      <div class = "col s12 m8">
        <div class="card blue-white darken-1">
          <div class="card-content blue-text">

            <div class="row">
              <div class="card-title col m3 s0 center">
              </div>
            	<span class="card-title col m6 s12 center">
        				<nav>
        				 	<div class="nav-wrapper" >
        						<ul class="center">
        				    		<li class="active col s12 m12 center">
        				    			<a href="#" style="font-size:1.1em">Add Feedback Form</a>
        				    		</li>
        					  	</ul
        				  	</div>
        				</nav>
      		  	</span>
            </div>

            <div>
              <form class="form-horizontal" name="FeedbackForm" action="{% url 'webApp:ins_feedbacknew' %}" method="post"  autocomplete="off" onsubmit="return valid_date();">{% csrf_token %}

                <div class = "form-group" style="margin-bottom:0px; margin-top:0px">
                  <div class="input-field col s6 m3">
                    <select name='course' required>
                      {% if courses %}
                        <option value ="" disabled selected>Choose a Course </option>
                        {% for c in courses %}
                          <option value ="{{c.code}}">{{c.code}}</option>
                        {% endfor %}
                      {% else %}
                        <option value ="" disabled selected>No Courses Added</option>
                      {% endif %}
                    </select>
                  </div>
                </div>

                <div class="form-group row " style="margin-bottom:0px; margin-top:0px">
                  <div class="input-field col s12 m12">
                    <input name="description" id="description" type="text" class="validate" required>
                    <label for="description">Brief Description</label>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="input-field col s8 m4">
                    <input name="date" id="date" type="text" class="datepicker" required>
                    <label for="date">Submission Date and Time</label>
                  </div>
                  <div class="input-field col s4 m2">
                    <input  name="time" id="time" type="time" class="timepicker" required>
                  </div>
                </div>

                <div class="form-group row " style="margin-bottom:0px; margin-top:0px">
                  <div class="col s12 m11" id="Questions">
                    <div id = "Q1" class="input-field">
                      <input type="hidden" name="noQuestions" id="noQ" value="1">
                      <label for="question1">Question 1</label>
                      <input name="question1" id="question1" type="text" class="validate"
                      required>
                    </div>
                  </div>
                </div>

                <div class="form-group row " style="margin-bottom:0px; margin-top:1em">
                  <div class="col s2 m1">
                    <a class="btn-floating waves-effect waves-light" id="addButton" onclick="addInput()"><i class="material-icons">add</i></a>
                  </div>
                  <div class="col s2 m1">
                    <a class="disabled btn-floating waves-effect waves-light" id="subtractButton" onclick="subtractInput()"><i class="material-icons">delete</i></a>
                  </div>

                </div>
                <div class="form-group row center" >
                  <button class="btn waves-effect waves-light" type="submit" name="action">Save<i class="material-icons right">send</i>
                  </button>
                </div>

              </form>
            </div>

          </div>
			  </div>
	  	</div>
    </div>
  </div>
{% endblock %}

{% block script %}
  <script language="JavaScript" src="{% static 'myjs/datepick_validate.js' %}"></script>
  <script language="JavaScript" src="{% static 'myjs/choice_add.js' %}"></script>
  <script> $(document).ready(function() { $('select').material_select(); });</script>
{% endblock %}
