{% extends 'webApp/ins_nav.html' %}
{% load staticfiles %}

{% block main1 %}
  <div>
    <div class="row" style="margin-top:2.5em">
      <div class = "col s0 m1"></div>
        <div class = "col s12 m10">
          <div class="card blue-white darken-1">
            <div class="card-content blue-text">
              
              <div class="row">
                <div class="card-title col m3 s0 center">
                </div>
              	
                <span class="card-title col m12 s12 center">
          				<nav>
          				 	<div class="nav-wrapper">
          						<ul class="center">
        				    		<li class="col s12 m6 center" style="padding-left:0px;padding-right:0px">
        				    			<a href="{% url 'webApp:deadlines_r' %}" style="font-size:1.1em">Running Deadlines</a>
        				    		</li>
                        <li class="active col s12 m6 center" style="padding-left:0px;padding-right:0px"> 
                          <a href="#" style="font-size:1.1em">Finished Deadlines</a>
                        </li>
          					  </ul
          				  </div>
          				</nav>
        		  	</span>
              </div>

              {% if deadlines %}
                <table class="highlight centered responsive-table" style="color:darkblue;">      
                  <thead>
                    <tr style="color:green;">
                        <th data-field="code"><p class="flow-text">Course Code</p></th>
                        <th data-field="description"><p class="flow-text">Brief Details</p></th>
                        <th data-field="date"><p class="flow-text">Submission Date</p></th>
                        <th data-field="time"><p class="flow-text">Submission Time</p></th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for dead in deadlines %}
                    <tr>
                      <td>{{dead.course.code}}</td>
                      <td>{{dead.description}}</td>
                      <td>{{dead.date}}</td>
                      <td>{{dead.time}}</td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              {% else %}
                <p style="text-align:center;font-size:2em;color:darkblue;">No Finished Deadlines </p>
              {% endif %}

  			    </div>
  	  	  </div>
  	    </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block script %}
	<script language="JavaScript" src="{% static 'myjs/form1.js' %}"></script>
  <script> $(document).ready(function() { $('select').material_select(); });</script>
{% endblock %}
