{% extends 'webApp/bkbase.html' %}

{% block main %}
	<div class="row">
		<div class = "col m4 s1 center">
		</div>
		<div class = "col m4 s10">
		  	<div class="row" style=" margin-top:7em">
	      		<div class="card blue-grey darken-1">
	        		<div class="card-content white-text">
			          	<span class="card-title">
							<nav style="margin-bottom: 1em;">
							 	<div class="nav-wrapper" >
									<ul class="center">
										<li class="col s6 m6 center" style="padding-left:0px;padding-right:0px;">
							    			<a href="{% url 'webApp:ins_login' %}" style="font-size:1em">Login</a>
							    		</li>
										<li class="active col s6 m6 center" style="padding-left:0px;padding-right:0px;">
								    		<a href="#" style="font-size:1em">Signup</a>
							    		</li>
								  	</ul
							  	</div>
							</nav>
					  	</span>

				  		<div>
				  			<form action="{% url 'webApp:ins_signup' %}" method="post"  autocomplete="off" >{% csrf_token %}
				  				
							  	<div class="row">
									<div class="input-field col s12 m6">
								  		<i class="material-icons prefix">account_circle</i>
								  		<input name="first_name" id="first_name" type="text" class="validate" required>
								  		<label for="icon_prefix">First Name</label>
									</div>
									<div class="input-field col s12 m6">
									<i class="material-icons prefix mobile">account_circle</i>
										<input name="last_name" id="last_name" type="text" class="validate">
								  		<label for="icon_telephone">Last Name</label>
									</div>
									<div class="input-field col m12 s12">
								  		<i class="material-icons prefix">lock</i>
								  		<input name="username"id="username" type="text" class="validate" required>
								  		<label for="icon_prefix">Username</label>
									</div>
									<div class="input-field col m12 s12">
								  		<i class="material-icons prefix">email</i>
								  		<input name="email"id="email" type="email" class="validate" required>
								  		<label for="icon_prefix">Email Id</label>
									</div>
									<div class="input-field col m12 s12">
								  		<i class="material-icons prefix">vpn_key</i>
								  		<input name="password"id="password" type="password" class="validate" required>
								  		<label for="icon_prefix">Password</label>
									</div>
								</div>

								<div id="status"style="text-align:center;margin-bottom:20px">
									{% block error %}
					  			    	{{error}}
					  			    {% endblock %}
					  		   	</div>

								<div class="form-group center" >
									<button class="btn waves-effect waves-light" type="submit" name="action">SignUp<i class="material-icons right">send</i>
									</button>
						  	    </div>

			  				</form>
						</div>
		  			</div>
		  		</div>
		  	</div>
		</div>
	</div>
{% endblock %}
