{% extends 'webApp/bkbase.html' %}

{% block main %}
<div style="padding-left:2em;color:green;margin-top:100px">
    <h4 style="text-align:center;text-transform: capitalize;"> {{name}} -   You have successfully logged out !!</h5>
    <h5 style="text-align:right" > Visit again soon !!</h5>
</div>  
{% endblock %}
