{% extends 'webApp/bkbase.html' %}

{% load staticfiles %}
{% block main %}
	<script>
	 	function FBlogin(response) {
		  	FB.login(function(response){
			  	if (response.status === 'connected') {
			    	// Logged into your app and Facebook.
			    	console.log(response);
			    	testAPI();
			  	} else if (response.status === 'not_authorized') {
			    	// The person is logged into Facebook, but not your app.
			    	document.getElementById('status').innerHTML = 'Please log into this app.';
			  	} else {
			    	// The person is not logged into Facebook, so we're not sure if
			    	// they are logged into this app or not.
			    	document.getElementById('status').innerHTML = 'Please log into Facebook.';
			  	}
			}, {scope:'public_profile,email'});
		}
	 	function checkLoginState() {
		    FB.getLoginStatus(function(response) {
	    		FBlogin(response);
	    	});
  		}
		window.fbAsyncInit = function() {
		  	FB.init({
			    appId      : '1797499347130875',
			    cookie     : true,  // enable cookies to allow the server to access	 the session
			    xfbml      : true,  // parse social plugins on this page
			   	oauth      : true,
			    version    : 'v2.8' // use graph api version 2.5
		  	});
		};

  		// Load the SDK asynchronously
		(function(d, s, id) {
		    var js, fjs = d.getElementsByTagName(s)[0];
		    if (d.getElementById(id)) return;
		    js = d.createElement(s); js.id = id;
		    js.src = "//connect.facebook.net/en_US/sdk.js";
		    fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));

		function post(path, params) {
		    var form = document.createElement("form");
		    form.setAttribute("method", 'post');
		    form.setAttribute("action", path);

		    for(var key in params) {
		        if(params.hasOwnProperty(key)) {
		            var hiddenField = document.createElement("input");
		            hiddenField.setAttribute("type", "hidden");
		            hiddenField.setAttribute("name", key);
		            hiddenField.setAttribute("value", params[key]);
		            form.appendChild(hiddenField);
		         }
		    }
		    document.body.appendChild(form);
		    form.submit();
		}

	  	function testAPI() {
		    console.log('Welcome!  Fetching your information.... ');
		    FB.api('/me?locale=en_US&fields=name,email,first_name,last_name', function(response) {
		      	console.log('Successful login for: ' + response.name);
		      	document.getElementById('status').innerHTML =
		      		'Thanks for logging in,' + response.name + '!';
		        console.log(response);
		        var a="{% csrf_token %}"
		     
		        post('/webApp/signupsocial/',
		        	{
		        		'id': response.id,	
		        		'name': response.name,
		        		'email': response.email,
		        		'first_name': response.first_name,
		        		'last_name': response.last_name,
		        		'csrfmiddlewaretoken':a.substring(55,119)
		    		});
		    	
		    });
		}
	</script>

	<div class="row">
		<div class = "col m4 s1 center">
		</div>

		<div class = "col m4 s10">
		  <div class="row" style=" margin-top:7em">
		    <div>
		      <div class="card blue-grey darken-1">
		        <div class="card-content white-text">

		          	<span class="card-title">
						<nav style="margin-bottom: 1em;">
						 	<div class="nav-wrapper" >
								<ul class="center">
						    		<li class="active col s12 m6 center" style="padding-left:0px;padding-right:0px;">
						    			<a href="#" style="font-size:1em">Login</a>
						    		</li>
						    		<li class="col s12 m6 center" style="padding-left:0px;padding-right:0px;">
						    			<a href="{% url 'webApp:ins_signup' %}" style="font-size:1em">Signup</a>
						    		</li>
							  	</ul
						  	</div>
						</nav>
				  	</span>

			  		<div>
			  			<form action="{% url 'webApp:ins_login' %}" method="post"  autocomplete="off">{% csrf_token %}
			  				
			  				<div class="row">
								<div class="input-field col m12 s12">
							  		<i class="material-icons prefix">lock</i>
							  		<input name="username"id="username" type="text" class="validate" required>
							  		<label for="icon_prefix">Username</label>
								</div>
								<div class="input-field col m12 s12">
							  		<i class="material-icons prefix">vpn_key</i>
							  		<input name="password"id="password" type="password" class="validate" required>
							  		<label for="icon_prefix">Password</label>
								</div>
							</div>

							<div id="status"style="text-align:center;margin-bottom:20px">
								{% block error %}
				  			    	{{error}}
				  			    {% endblock %}
				  		   	</div>

							<div class="form-group center" >
								<button class="btn waves-effect waves-light" type="submit" name="action">Login<i class="material-icons right">send</i>
								</button>
					  	    </div>
					  	    
		  				</form>

		  				<div class="row" style="padding-top:0.5rem">
					  	    <div class="form-group center">
					  	    	<button class="btn btn-default fb-btn" onclick="checkLoginState();">Sign in through Facebook
					  	   		</button>
	    					</div> 
	    				</div>
					</div>
			  	</div>
			  </div>
		    </div>
		  </div>
		</div>
	</div>
{% endblock %}
