{% extends 'webApp/ins_nav.html' %}
{% load staticfiles %}

{% block settingsURL %}
"#"
{% endblock %}

{% block nav5 %}
class="active"
{% endblock %}

{% block main1 %}


<div class = "center">
    <div class="row" style="margin-top:2.5em">
        <div class = "col s3 m4"></div>
        <div class = "col s9 m4">

          <div class="card blue-grey darken-1">
            <div class="card-content white-text">

              	<span class="card-title">
    				<nav style="margin-bottom: 30px;">
    				 	<div class="nav-wrapper" >
    						<ul class="center">
    				    		<li class="active col s12 m12 center" style="padding-left:0px;padding-right:0px;">
    				    			<a href="#" style="font-size:1em">Change Password</a>
    				    		</li>
    					  	</ul
    				  	</div>
    				</nav>
    		  	</span>

    	  		<div>
    	  			<form class="form-horizontal" name="myForm" action="{% url 'webApp:settings' %}" method="post"  autocomplete="off" onsubmit="return validate_check();">{% csrf_token %}

    	  		  		<div class="form-group">
    	  		    		<div class="col-sm-10">
    		      				<input name="currPass" id="currPass" type="password" class="form-control"placeholder="Current Password"onfocus="this.style.borderColor='yellow';"onblur="this.style.borderColor='gray';"
    	  		    		</div>
    	  		  		</div>

    	                <div class="form-group">
    	                    <div class="col-sm-10">
    	                        <input name="newPass" id="Pass" type="password" class="form-control"placeholder="New Password"onblur="validate_password();"
    	                        onfocus="this.style.borderColor='yellow'; document.querySelector('#ErrPass').innerHTML='';">
    	                    </div>
    	                </div>
    	                <div class="form-group">
    	                    <div class="col-sm-10">
    	                        <input name="reNewPass" id="reNewPass" type="password" class="form-control"placeholder="Retype New Password"onblur="validate_check();"
    	                        onfocus="this.style.borderColor='yellow'; document.querySelector('#ErrPass').innerHTML='';">
    	                        <p style="text-align:center;" id= "ErrPass"></p>
    	                    </div>
    	                </div>

    					<div id="status"style="text-align:center;margin-bottom:20px">
    						{% block error %}
    						<b>{{error}}</b>
    		  			    {% endblock %}
    		  		   	</div>

    					<div class="form-group center" >
    						<button class="btn waves-effect waves-light" type="submit" name="action">Save<i class="material-icons right">send</i>
    						</button>
    	  	    		</div>
      				</form>
    			</div>
	  	</div>
	  </div>
    </div>
  </div>
</div>
{% endblock %}
{% block script %}
	<script language="JavaScript" src="{% static 'myjs/form1.js' %}"></script>
{% endblock %}
