{% extends 'webApp/ins_nav.html' %}
{% load staticfiles %}
{% block main1 %}
  <div>
    <div class="row" style="margin-top:2.5em">
      <div class = "col s0 m1"></div>
      <div class = "col s12 m10">
        <div class="card blue-white darken-1">
          <div class="card-content blue-text">
            
            <div class="row">
              <div class="card-title col m3 s0 center">
              </div>
              <span class="card-title col m6 s12 center">
                <nav>
                  <div class="nav-wrapper" >
                    <ul class="center">
                        <li class="active col s12 m12 center">
                          <a href="#" style="font-size:1.1em">Statistics</a>
                        </li>
                      </ul
                    </div>
                </nav>
              </span>
            </div>

            <div class="row">
              <div class = "col s12 m12">
                {% if data1 or data2 or data3 or data4 or data5 %}
                  <div id="myfirstchart" style="height: 250px;"></div>
                {% else %}
                  <p style="text-align:center;margin-bottom:20px">No responses yet</p>
                {% endif%}
              </div>       
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block script %}
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>

  <script>
    Morris.Donut({
      element: 'myfirstchart',
      data: [
       {label: "Strongly Agree", value: {{data1}}},
       {label: "Agree", value: {{data2}}},
       {label: "Neutral", value: {{data3}}},
       {label: "Disagree", value: {{data4}}},
       {label: "Strongly Disagree", value: {{data5}}}
      ],
      colors: [
        '#1b8712','#2b9609','#4fb60f','#54e709','#d2d2d2'
      ]
    });
</script>

{% endblock %}
